* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: #090a0d;
}
a {
  text-decoration-line: none;
}
strong {
  color: #5780cd;
}
header {
  max-width: 1080px;
  background-color: #121319;
  font-size: large;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  /* 중앙 정렬 */
  margin: 0 auto;
}

/* nav */
.navContainer {
  padding: 16px 0;
  overflow: hidden;
  border-top: 1px solid #2e313d;
  /* 임의 배경설정 */
  background-color: #121319;
  /* 중앙 정렬 */
  max-width: 1080px;
  margin: 0 auto;
  /* nav 고정 */
  position: sticky;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
}
.quickLink {
  background-color: #121319;
  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
}
.quickLinkNav {
  background-color: #121319;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.quickLinkNav li {
  margin: 0 20px;
}
.quickLinkNav li:hover {
  transition: 0.5s ease-out;
  opacity: 0.3;
}
.quickLinkNav li:not(:hover) {
  transition: 0.5s ease-out;
}

/* side bar */
.sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  gap: 16px;
  font-size: 14px;
  letter-spacing: -0.006em;
  line-height: 1.4;
  font-size: 18px;
}
.sideBarNav {
  list-style-type: none;
}
.sideBarNav li {
  margin: 20px 0;
}
@media (max-width: 1400px) {
  .sideBar {
    display: none; /* 태그를 숨김 */
  }
}

/* body */
.bodyContainer {
  max-width: 1080px;
  overflow: hidden;
  height: 900px;
  /* 중앙 정렬 */
  /* width: 1080px; */
  margin: 0 auto;
  border-top: 1px solid #2e313d;
  background-color: #121319;
  opacity: 0;
}

/* aboutMe */
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.aboutMe h1 {
  margin: 50px 0;
}
.aboutMe h3 {
  margin: 0 0 15px 0;
}
.aboutMeImg {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 100%;
}

/* MBTI */
.mbti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.mbti h1 {
  margin: 30px 0;
}
.mbtiImg {
  width: 400px;
  height: 400px;
  margin: 30px auto;
}
.mbtiTxt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}
.mbtiTxt h2 {
  margin: 0 0 10px 0;
}
.mbtiTxtDetail1 {
  margin: 0 100px 0 0;
}
.mbtiTxtDetail2 {
  margin: 0 0 0 px;
}
/* Favorite */
.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.favorite h1 {
  margin: 30px 0 0 0;
}
.favoriteTxt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  margin: 50px 0;
}
.favDetail {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  max-height: 600px;
  background-color: #2e313d;
  margin: 0 10px;
  border-radius: 25px;
}
.favDetail h2 {
  margin: 20px;
}
.favImg {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  border-radius: 100%;
}
.imgDescription {
  color: #777e95;
  margin: 50px 30px;
}

/* service */
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.service h1 {
  margin: 30px 0 0 0;
}
.service h2 {
  margin: 40px 0 0 0;
}
.service h3 {
  max-width: 500px;
  margin: 0 auto;
}
.service p {
  margin-top: 10px;
  color: #777e95;
}
.serviceImg {
  width: 500px;
  margin: 30px auto;
  border-radius: 25px;
}

/* footer */
footer {
  overflow: hidden;
  background: #121319;
  height: 80px;
  /* 중앙 정렬 */
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e313d;
}

/* Fade InOut */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both; /* 애니메이션이 끝난 후에도 상태 유지 */
}
.fadeOutDown {
  animation-name: fadeOutDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* key color */
/* #090a0d */
/* #121319 */
/* #2e313d */
/* #777e95 */
/* 1400 */
