* {
  margin: 0;
  padding: 0;
}
header {
  font-size: large;
  display: flex;
  justify-content: center;
  /* 중앙 정렬 */
  margin: 30px auto;
}

/* nav */
.navContainer {
  padding: 16px 0;
  overflow: hidden;
  /* 임의 배경설정 */
  background-color: aqua;
  /* 중앙 정렬 */
  width: 1080px;
  margin: 0 auto;
  /* nav 고정 */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.quickLink {
  background-color: yellow;
  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
}
.quickLinkNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.quickLinkNav li {
  margin: 0 20px;
}

/* side bar */
.sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  gap: 16px;
  font-size: 14px;
  letter-spacing: -0.006em;
  line-height: 1.4;
}
.sideBarNav {
  list-style-type: none;
}
.sideBarNav li {
  margin: 5px 0;
}

/* body */
.bodyContainer {
  max-width: 1080px;
  overflow: hidden;
  height: 800px;
  /* 중앙 정렬 */
  width: 1080px;
  margin: 0 auto;

  border-style: solid;
  border-color: black;
}

/* footer */
footer {
  overflow: hidden;
  background: yellow;
  height: 80px;
  /* 중앙 정렬 */
  width: 1080px;
  margin: 0 auto;
}
